.row{
  margin-bottom: 10px;
}
#tips{
  width: 100%;
  height: 25px;
  line-height: 25px;
  position: absolute;
  top: 75px;
  background-color: #fff8ca;
  color: #ff000f;
  opacity: 0;
  text-align: center;
}
.sidebar-head{
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background-color: #fff;
  font-size: 30px;
}
